body {
    margin: 0;
    size: 100%;
    position: absolute;
    border: 4px solid transparent;   
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
}
.main-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    height: 100vh;
    display: grid;
}
header{
    height: 20vh;
    border: 1px solid red;
    text-align: center;
    background-color: red;
}
h1{
    color: white;
    border: 2px solid white;
    font-size: 50px;
    width: 500px;
    background-color: red;
    height: 75px;
    margin-left: 600px;
    margin-right: 600px;
}
nav {
    border: 5px solid transparent;
    text-align: center;
}
main{
    height: 95vh;
    border: 5px solid red;
    height: 100%;
}
h2.profile{
grid-column: 1;
font-size: 25px;
}
h3.experiance{
    font-size: 25px;
}
h2.education{
    font-size: 25px;
}
h3.skills{
    font-size: 25px;
}
section {
    border: 1px solid transparent;
    height: 100%;
    width: 95%;
}
section1 {
    border: 1px solid transparent;
    height: 100%;
    width: 95%;
}